<p><%= link_to "Edit this task", edit_task_path %></p>

<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p>This task is <%= @task.completed == true ? "completed" : "not completed" %></p>

<p><%= link_to "Back to list", tasks_path %></p>